/**
 * Custom HTML field
 *//*
.rc-configuration-details th {
    padding: 5px 12px;
    text-align: left;
    background-color: #f5f5f5;
}*/
.rc-configuration-details {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

.rc-configuration-details th,
.rc-configuration-details td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.rc-configuration-details th {
    background-color: #f3f3f3;
    font-weight: bold;
    color: #333;
    text-transform: capitalize;
    width: 30%;
}

.rc-configuration-details td {
    background-color: #fff;
    color: #555;
}

.rc-configuration-details tr:last-child th,
.rc-configuration-details tr:last-child td {
    border-bottom: none;
}

.rc-configuration-details tr:nth-child(even) td {
    background-color: #f7f7f7;
}

.rc-configuration-details tr:hover td {
    background-color: #eaeaea;
}